<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <rosparam file="$(find katana_control)/config/katana_control.yaml" command="load"/>
  <rosparam file="$(find katana_control)/config/katana_gripper_controller.yaml" command="load"/>

<!-- load the controller of katana_450_6m90a -->

  <node name="katana_control" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/katana_450_6m90a" args="katana_motor1_pan_joint_position_controller
	katana_motor2_lift_joint_position_controller
	katana_motor3_lift_joint_position_controller
	katana_motor4_lift_joint_position_controller
	katana_motor5_wrist_roll_joint_position_controller
	katana_r_finger_joint_controller
	katana_l_finger_joint_controller --shutdown-timeout 3"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/katana_450_6m90a/joint_states" />
        <param name="tf_prefix" type="string" value="" />
  </node>

</launch>
